.banner-main {
  background: url('/images/banners/banner-main-mobile.png') no-repeat center
    center / cover;
  height: 177px;
  width: 100%;
  color: $white;

  &-inner {
    position: relative;

    .button {
      position: absolute;
      top: 120px;
      right: 12px;
    }
  }
}
