.header-primary {
  background-color: $gray-primary;
  color: $white;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li > a {
      font-size: 32px;
    }

    .header-search {
      border: 1px solid $gray-secondary;

      button {
        border-style: none;
        background: transparent;
        outline: none;
        color: $gray-secondary;
        font-size: 20px;
      }

      input {
        font-family: 'Roboto', sans-serif;
        border-style: none;
        outline: none;
        text-transform: lowercase;
        background: transparent;
        font-size: 14px;
        font-style: italic;
        color: $gray-secondary;
        padding-left: 10px;
        width: 200px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    ul {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;

      li {
        transition: transform 0.5s linear;
        &:hover {
          transform: scale(1.2);
        }

        a {
          color: $gray-tertiary;
          text-transform: uppercase;
          font-size: 20px;
          transition: color 0.3s ease-in-out;

          &:hover {
            color: $gray-secondary;
          }
        }
      }
    }
  }
}
