.header-secondary {
  @include media-breakpoint-up(lg) {
    background: $gray-primary url(/images/banners/banner-homepage-header.png)
      no-repeat center center / cover;
    height: 500px;
    margin: 0;
  }
}

.header-secondary-inner {
  @include media-breakpoint-up(lg) {
    display: flex;
    // am ales space-around si nu between
    // pt ca altfel pe monitorul meu (view 100%) iconitele de la controls
    // (inima si cart-ul) se duc peste parul baiatului si nu se mai disting, fiind inchise la culoare)
    justify-content: space-around;
    color: $white;

    .header-connect ul {
      display: flex;
      justify-content: center;
      gap: 22px;
      font-size: 24px;
      text-transform: uppercase;

      i {
        transition: transform 0.5s linear;

        &:hover {
          transform: scale(1.5);
        }
      }
    }
  }
}

.header-controls {
  display: grid;
  grid-template-columns: 2fr 1fr;

  h1 {
    grid-column: 1 / span 1;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    justify-self: start;
    align-self: center;
    font-size: 24px;
    margin: 0;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    grid-column: 2 / span 1;
    font-size: 24px;

    i {
      transition: transform 0.5s linear;

      &:hover {
        transform: scale(1.5);
      }
    }

    @include media-breakpoint-up(lg) {
      color: $black;
      justify-self: center;
      gap: 22px;
    }
  }

  @include media-breakpoint-up(lg) {
    justify-items: center;

    .header-search {
      border: 1px solid $gray-secondary;
      font-size: 20px;
      justify-self: end;

      button {
        border-style: none;
        background: none;
        outline: none;
      }

      input {
        font-family: 'Roboto', sans-serif;
        border-style: none;
        outline: none;
      }
    }
  }
}
