.product-tile {
  header {
    border: none;
    h1 {
      font-size: 16px;

      @include media-breakpoint-up(lg) {
        font-size: 22px;
      }
    }
  }

  &-image {
    img {
      width: 100%;
      border-radius: 20px;
      transition: transform 0.5s linear, box-shadow 0.5s linear;

      &:hover {
        transform: scale(1.1);
        box-shadow: 5px 5px 5px $gray-secondary;
      }
    }

    .badge {
      position: absolute;
      top: 0;
      right: 0;

      i {
        transition: color 0.3s ease-in-out, transform 0.5s ease-in-out;

        &:hover {
          color: $gray-secondary;
          transform: scale(1.2);
        }
      }
    }
  }
  .product-tile-price {
    @include media-breakpoint-up(lg) {
      font-size: 22px;
    }
  }
}
